body{
    margin: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--primary-color);
}

main{
    background-color: var(--fundo-main) ;
    padding: 2rem;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 290px;

}
